html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
  transition: color 70ms;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-weight: 700;
}

body {
  background-color: #F4F4F4;
}

header {
  color: #fff;
  padding: 20px 20%;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding-inline: 5%;
  transition: 0.8s;
}

.background {
  background: url("../img/aubrac_burger_header.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background_menu {
  background: url("../img/AUBRAC_CORNER_frontjpg.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background_concept {
  background: url("../img/AUBRAC_CORNER_13.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background_histoire {
  background: url("../img/uber-travis-kalanick-indian-institute-of-technology-iit-inde-bombay-2016-01-16.jpeg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 800;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.text {
  position: absolute;
  left: 5%;
  z-index: 900;
  width: 100%;
}

.text .h1 {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2%;
  margin-right: 2%;
}

.text h1 {
  text-align: left;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: #FFF;
  font-family: "Poppins";
  z-index: 901;
  transition: font-size 0.8s;
  margin-right: 30px;
  transition: transform 0.8s, color 0.4s;
  line-height: 0.9;
}

.text h2 {
  text-align: left;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: #FFF;
  margin-left: 2%;
}

header img {
  max-height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

header ul {
  display: flex;
  justify-content: center;
  opacity: 1;
  transition: 0.8s;
}

header ul a {
  color: #fff;
  margin-inline: 16px;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
}

header ul a:hover {
  color: #fb7637;
}

.sticky {
  background: #25201f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.menu_burger {
  transition: 0.8s;
  transform: translateX(110vw);
  display: none;
}

#burger_icone, #close_icone {
  position: fixed;
  top: 25px;
  right: 5%;
  color: #fff;
  width: 30px;
  visibility: hidden;
  transition: 0.5s;
  transform: translateX(100vw);
  z-index: 999;
  cursor: pointer;
}

.burger_parent ul {
  position: absolute;
  top: 10%;
  left: 10%;
}

/* 
//Center Menu
.burger_parent ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}
*/
.burger_parent ul a {
  font-size: 50px;
  color: #FFF;
  text-decoration: none;
  list-style: none;
}

.burger_parent hr {
  margin-bottom: 20px;
}

.burger_parent ul a:hover {
  color: #fb7637;
}

@media screen and (max-width: 768px) {
  .menu_burger {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #25201f;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.8s;
  }
  #burger_icone, #close_icone {
    visibility: visible;
    transform: translateX(0);
  }
  header ul {
    transform: translateX(-100vw);
    opacity: 0;
  }
  header img {
    position: fixed;
    top: 20px;
  }
  .sticky {
    max-height: 50px;
  }
  header {
    height: 50px;
  }
}
@media screen and (min-width: 768px) {
  .h1 h1:hover {
    transform: translateY(-20px);
    color: #fb7637;
  }
}
.section_1 {
  height: 100vh;
  width: 100%;
}

#footer a {
  text-decoration: none;
  color: white;
}

#footer {
  list-style: none;
  text-decoration: none;
  color: white;
}

.footer_social_network {
  display: flex;
}

.footer_social_network_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer_list_buttons > ul {
  margin-bottom: 18px;
}

.logo_social_network {
  height: 50px;
  width: 50px;
}

.text_mentions {
  max-width: 80%;
}

.bg-black {
  background-color: black;
}

.div_all_footer {
  padding: 5%;
  display: flex;
  justify-content: space-between;
}

.container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}

.container p span.typed-text {
  font-weight: normal;
  color: #F74D00;
}

.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}

.container p span.cursor.typing {
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}/*# sourceMappingURL=style.css.map */